{% comment %}
  Renders the sidebar facet filtering component
  Accepts:
  - results: {Object} Collection or Search object
{% endcomment %}

{%- liquid
  assign sort_by = results.sort_by | default: results.default_sort_by
  if results.url
    assign results_url = results.url
  else
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
-%}

<script src="{{ 'facets.js' | asset_url }}" type="module" fetchpriority="low"></script>
<script src="{{ 'scrolling.js' | asset_url }}" type="module" fetchpriority="low"></script>

<div
  class="facets-block-wrapper facets-block-wrapper--vertical facets-sidebar"
  style="--grid-column--desktop: 2 / var(--facets-vertical-col-width);"
>
  <div class="facets facets--vertical">
    <facets-form-component class="facets__form-wrapper" section-id="{{ section.id }}" form-style="vertical">
      <form
        id="FacetFiltersForm--{{ section.id }}-sidebar"
        class="facets__form"
        action="{{ results_url }}"
        ref="facetsForm"
      >
        {%- if results.filters != empty -%}
          <div class="facets__wrapper">
            {%- for filter in results.filters -%}
              {%- assign active_value_count = filter.active_values.size -%}
              {%- case filter.type -%}
                {%- when 'boolean', 'list' -%}
                  {% render 'list-filter',
                    filter: filter,
                    filter_style: 'vertical',
                    sectionId: section.id,
                    active_value_count: active_value_count
                  %}
                {%- when 'price_range' -%}
                  {% render 'price-filter', filter: filter, filter_style: 'vertical' %}
              {%- endcase -%}
            {%- endfor -%}
          </div>
        {%- endif -%}
        <div class="facets__footer" style="margin-top: 1rem;">
          <noscript>
            <button type="submit" class="button button--secondary">{{ 'blocks.filter' | t }}</button>
          </noscript>
        </div>
      </form>
    </facets-form-component>
  </div>
</div>
